
.container{
  display: flex;
  border: 3px solid black;
  padding: 15px;
  font-size: 20px;
}
.left{
    
    width: 50%;
}
#star::after{
    content: "*";
    color: red;
    font-size: 20px;
}
.container input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 90%;
}

.material-symbols-outlined{
    font-size: 20px !important;
    color: gray;
    margin-left: 5px;
}
textarea{
    margin: 10px;
}
nav{
    border: 2px solid black;
    padding: 10px;
   display: flex;
   height: 50px;
}
 a{
    text-decoration: none;
    color: gray;
    margin-left: 15px;
 }
 #btn{
    border: 2px solid black;
    
    border-radius: 25px;
    margin-left: 60%;
    text-decoration: none;
    width: 50%;
    height: 50px;
 }

 .right{
    width: 90%;
 }
 #search{
    width: 100%;
 }